 <div class="user-details">
  <h1> My Experience </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-csharp-line colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>C#, JavaScript, SQL, Java, C++, Python, TypeScript, HTML, Objective-C, Ruby</p>
    </div>
    <div class="tech">
      <h2>Frameworks</h2>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-angularjs-plain-wordmark colored"></i>
      <p>ASP.NET Core, .NET, .NET Core, ASP.NET MVC, React, Angular, libGDX, MonoGame</p>
    </div>
    <div class="tech">
      <h2>Other Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-android-plain-wordmark colored"></i>
      <p>Git, Visual Studio, Microsoft SQL Server Management Studio, Android Studio, Azure DevOps, Unity</p>
    </div>
</div>
