<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/gunma_graphic.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gunma-chan Takes a Hike </h3>
    <ul>
      <li> Java, Android Studio, libGDX</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/sjodon/GunmaChanProject">GitHub Repo</a>
  </div>
</div>
<br></br>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/psychology_game.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Psychology Room Hunt </h3>
    <ul>
      <li> C#, Unity</li>
    </ul>
    <p>Collaborating with a group of 1 other developer and 2 artists for my game development certificate program capstone project at ASU, I created an educational game to teach basic psychology to high school students at ASU Prep Digital. </p>
    <a class="project-link" href="https://github.com/christinaeverman/CPI-441-Psychology-Game">GitHub Repo</a>
  </div>
</div>
<br></br>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Color Tiles </h3>
    <ul>
      <li> C#, MonoGame, Microsoft XNA, Visual Studio</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/christinaeverman/CPI-311-Color-Tiles">GitHub Repo</a>
  </div>
</div>
<br></br>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Visualization & Simulation of Activity in a Tokyo Arcade </h3>
    <ul>
      <li> JavaScript, Unity</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/christinaeverman/FSE-394-Arcade-Traffic-Sim">GitHub Repo</a>
  </div>
</div>
